
body{
    background-color: beige; color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium; padding: 20px;
}
hr{
    border: 1px, solid burlywood;
}
#submit{
    background-color: brown; color: beige;
    border-radius: 2px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
